<mat-card
  class="mt-4 [&_.mat-mdc-card]:overflow-visible [&_.mat-mdc-card-content]:overflow-visible [&_.mat-mdc-tab-body-wrapper]:!overflow-visible [&_.mat-mdc-tab-body-content]:!overflow-visible"
>
  <mat-card-content>
    <mat-tab-group [(selectedIndex)]="activeTabIndex" animationDuration="200ms">
      <!-- Tab Fournisseur -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">person</mat-icon>
          {{ 'stock.entry.tabSupplier' | translate }}
        </ng-template>
        <div class="pt-4">
          <ng-content select="[supplierTab]" />
        </div>
      </mat-tab>

      <!-- Tab Produits -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">inventory_2</mat-icon>
          {{ 'stock.entry.tabProducts' | translate }} ({{ totalProducts() }})
          @if (incompleteCount() > 0) {
            <span class="ml-2 px-1.5 py-0.5 text-xs bg-amber-100 text-amber-800 rounded-full">
              {{ incompleteCount() }}
            </span>
          }
        </ng-template>
        <div class="pt-4">
          <ng-content select="[productsTab]" />
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
