<mat-card>
  <mat-card-content>
    <form (submit)="$event.preventDefault(); search()">
      <div class="search-form-grid">
        <!-- Type de client -->
        <mat-form-field appFieldControlLabel>
          <mat-label>{{ 'client.clientType' | translate }}</mat-label>
          <mat-select [field]="searchForm().clientTypeId">
            <mat-option [value]="-1">{{ 'commun.all' | translate }}</mat-option>
            @for (type of clientTypes(); track type.code) {
              <mat-option [value]="type.code">{{ type.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Statut -->
        <mat-form-field appFieldControlLabel>
          <mat-label>{{ 'commun.status' | translate }}</mat-label>
          <mat-select [field]="searchForm().active">
            @for (state of states(); track state.code) {
              <mat-option [value]="state.code">
                {{ `commun.${state.label}` | translate }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Nom -->
        <mat-form-field appFieldControlLabel>
          <mat-label>{{ 'commun.lastName' | translate }}</mat-label>
          <input matInput [field]="searchForm().lastName" />
        </mat-form-field>

        <!-- Prénom -->
        <mat-form-field appFieldControlLabel>
          <mat-label>{{ 'commun.firstName' | translate }}</mat-label>
          <input matInput [field]="searchForm().firstName" />
        </mat-form-field>

        <!-- Téléphone -->
        <mat-form-field appFieldControlLabel>
          <mat-label>{{ 'commun.mobile' | translate }}</mat-label>
          <input matInput [field]="searchForm().phone" />
        </mat-form-field>

        <!-- Pièce d'identité -->
        <mat-form-field appFieldControlLabel>
          <mat-label>{{ 'client.idDocument' | translate }}</mat-label>
          <input matInput [field]="searchForm().idDocument" />
        </mat-form-field>

        <!-- Groupe famille -->
        <mat-form-field appFieldControlLabel>
          <mat-label>{{ 'client.familyGroup' | translate }}</mat-label>
          <input matInput [field]="searchForm().familyGroup" />
        </mat-form-field>
      </div>
      <div class="flex flex-1 items-center justify-end gap-2.5">
        <button matButton class="tertiary" (click)="search()" type="submit">
          {{ 'commun.search' | translate }}
        </button>
        <button
          matIconButton
          class="text-primary"
          [matTooltip]="'commun.reset' | translate"
          (click)="resetSearchForm()"
          type="button"
        >
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
